$primary-text-color: #292d32;
$title-color: #000000;
$menu-text-color: #9197b3;
$white-text-color: #ffffff;
$user-prof-color: #757575;
$info-text-color: #b5b7c0;
$accent-color: #16c098;
$version-text-color: #838383;
$side-menu-bg-color: #ffffff;
$product-bg-color: #fafbff;
$selected-item-color: #5932ea;
$active-btn-bg-color: rgba(22, 192, 152, 0.38);
$active-btn-color: #00b087;
$inactive-btn-bg-color: #ffc5c5;
$inactive-btn--color: #df0404;
$pagination-text-color: #404b52;
$border-color: #eeeeee;
