<div class="container">
  <div class="mobile-menu">
    <div class="mobile-logo">
      <svg class="mobile-logo__icon">
        <use href="./img/sprite/sprite.svg#logo"></use>
      </svg>
      <div class="mobile-logo__name">
        <h1 class="mobile-logo__name">Dashboard</h1>
        <span class="mobile-logo__version">v.01</span>
      </div>
    </div>
    <button class="mobile-menu__btn" data-menu-open type="button">
      <svg class="mobile-menu__open">
        <use href="./img/sprite/sprite.svg#menu"></use>
      </svg>
    </button>
    <div class="menu-mob" data-menu>
      <button class="btn-close" data-menu-close type="button">
        <svg class="btn-close__icon">
          <use href="./img/sprite/sprite.svg#close"></use>
        </svg>
      </button>

      <ul class="list menu">
        <li class="menu-item">
          <a class="link menu-link" href="#">
            <div class="menu-link__inner">
              <svg class="menu-icon__fix">
                <use href="./img/sprite/sprite.svg#dashboard"></use>
              </svg>
              Dashboard
            </div>
          </a>
        </li>
        <li class="menu-item">
          <a class="link menu-link" href="#">
            <div class="menu-link__inner">
              <svg class="menu-icon">
                <use href="./img/sprite/sprite.svg#product"></use>
              </svg>
              Product
            </div>
            <span>
              <svg class="menu-icon__chevrone">
                <use href="./img/sprite/sprite.svg#chevron"></use>
              </svg>
            </span>
          </a>
        </li>
        <li class="menu-item">
          <a class="link menu-link menu-link__active" href="#">
            <div class="menu-link__inner">
              <svg class="menu-icon">
                <use href="./img/sprite/sprite.svg#customers"></use>
              </svg>
              Customers
            </div>
            <span>
              <svg class="menu-icon__chevrone">
                <use href="./img/sprite/sprite.svg#chevron"></use>
              </svg>
            </span>
          </a>
        </li>
        <li class="menu-item">
          <a class="link menu-link" href="#">
            <div class="menu-link__inner">
              <svg class="menu-icon__fix">
                <use href="./img/sprite/sprite.svg#income"></use>
              </svg>
              Income
            </div>
            <span>
              <svg class="menu-icon__chevrone">
                <use href="./img/sprite/sprite.svg#chevron"></use>
              </svg>
            </span>
          </a>
        </li>
        <li class="menu-item">
          <a class="link menu-link" href="#">
            <div class="menu-link__inner">
              <svg class="menu-icon">
                <use href="./img/sprite/sprite.svg#promote"></use>
              </svg>
              Promote
            </div>
            <span>
              <svg class="menu-icon__chevrone">
                <use href="./img/sprite/sprite.svg#chevron"></use>
              </svg>
            </span>
          </a>
        </li>
        <li class="menu-item">
          <a class="link menu-link" href="#">
            <div class="menu-link__inner">
              <svg class="menu-icon">
                <use href="./img/sprite/sprite.svg#help"></use>
              </svg>
              Help
            </div>
            <span>
              <svg class="menu-icon__chevrone">
                <use href="./img/sprite/sprite.svg#chevron"></use>
              </svg>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
