<section class="product-section">
  <h2 class="product-title">Hello Evano 👋🏼,</h2>

  <div class="product__inner">
    <div class="product__search">
      <div>
        <h3 class="product-sub-title">All Customers</h3>
        <p class="members-title">Active Members</p>
      </div>
      <label class="product-label">
        <span>
          <svg class="icon-search">
            <use href="./img/sprite/sprite.svg#search"></use>
          </svg>
        </span>
        <input class="product-search__input" type="text" placeholder="Search" />
      </label>
    </div>
    <table>
      <thead>
        <tr>
          <th>Customer Name</th>
          <th>Company</th>
          <th>Phone Number</th>
          <th>Email</th>
          <th>Country</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-border">
          <td data-label="Customer Name">Jane Cooper</td>
          <td data-label="Company"></td>
          <td data-label="Phone Number">(225) 555-0118</td>
          <td data-label="Email">jane@microsoft.com</td>
          <td data-label="Country">United States</td>
          <td data-label="Status">
            <span class="status status--active">active</span>
          </td>
        </tr>
        <tr class="table-border">
          <td data-label="Customer Name">Floyd Miles</td>
          <td data-label="Company">Yahoo</td>
          <td data-label="Phone Number">(205) 555-0100</td>
          <td data-label="Email">floyd@yahoo.com</td>
          <td data-label="Country">Kiribati</td>
          <td data-label="Status">
            <span class="status status--inactive">inactive</span>
          </td>
        </tr>
        <tr class="table-border">
          <td data-label="Customer Name">Ronald Richards</td>
          <td data-label="Company">Adobe</td>
          <td data-label="Phone Number">(302) 555-0107</td>
          <td data-label="Email">ronald@adobe.com</td>
          <td data-label="Country">Israel</td>
          <td data-label="Status">
            <span class="status status--inactive">inactive</span>
          </td>
        </tr>
        <tr class="table-border">
          <td data-label="Customer Name">Marvin McKinney</td>
          <td data-label="Company">Tesla</td>
          <td data-label="Phone Number">(252) 555-0126</td>
          <td data-label="Email">marvin@tesla.com</td>
          <td data-label="Country">Iran</td>
          <td data-label="Status">
            <span class="status status--active">active</span>
          </td>
        </tr>
        <tr class="table-border">
          <td data-label="Customer Name">Jerome Bell</td>
          <td data-label="Company">Google</td>
          <td data-label="Phone Number">(629) 555-0129</td>
          <td data-label="Email">jerome@google.com</td>
          <td data-label="Country">Réunion</td>
          <td data-label="Status">
            <span class="status status--active">active</span>
          </td>
        </tr>
        <tr class="table-border">
          <td data-label="Customer Name">Kathryn Murphy</td>
          <td data-label="Company">Microsoft</td>
          <td data-label="Phone Number">(406) 555-0120</td>
          <td data-label="Email">kathryn@microsoft.com</td>
          <td data-label="Country">Curaçao</td>
          <td data-label="Status">
            <span class="status status--active">active</span>
          </td>
        </tr>
        <tr class="table-border">
          <td data-label="Customer Name">Jacob Jones</td>
          <td data-label="Company">Yahoo</td>
          <td data-label="Phone Number">(208) 555-0112</td>
          <td data-label="Email">jacob@yahoo.com</td>
          <td data-label="Country">Brazil</td>
          <td data-label="Status">
            <span class="status status--active">active</span>
          </td>
        </tr>
        <tr class="table-border">
          <td data-label="Customer Name">Kristin Watson</td>
          <td data-label="Company">Facebook</td>
          <td data-label="Phone Number">(704) 555-0127</td>
          <td data-label="Email">kristin@facebook.com</td>
          <td data-label="Country">Åland Islands</td>
          <td data-label="Status">
            <span class="status status--inactive">inactive</span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="product-footer">
      <p class="product-footer__text">Showing data 1 to 8 of 256K entries</p>
      <ul class="list product-footer__list">
        <li>
          <a class="link pagination" href="">
            <svg class="pagination-icon">
              <use href="./img/sprite/sprite.svg#left"></use>
            </svg>
          </a>
        </li>
        <li><a class="link pagination pagination--active" href="">1</a></li>
        <li>
          <a class="link pagination" href="">2</a>
        </li>
        <li>
          <a class="link pagination" href="">3</a>
        </li>
        <li>
          <a class="link pagination hide" href="">4</a>
        </li>
        <li class="pagination pagination--inactive">...<a href=""></a></li>
        <li>
          <a class="link pagination" href="">40</a>
        </li>
        <li>
          <a class="link pagination" href="">
            <svg class="pagination-icon">
              <use href="./img/sprite/sprite.svg#right"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
