<nav class="sidemenu">
  <div class="sidemenu__inner">
    <a class="link logo" href="/">
      <svg class="logo-icon">
        <use href="./img/sprite/sprite.svg#logo"></use>
      </svg>
      <div class="logo-inner">
        <h1 class="logo-title">Dashboard</h1>
        <span class="logo-version">v.01</span>
      </div>
    </a>

    <ul class="list menu">
      <li class="menu-item">
        <a class="link menu-link" href="#">
          <div class="menu-link__inner">
            <svg class="menu-icon__fix">
              <use href="./img/sprite/sprite.svg#dashboard"></use>
            </svg>
            Dashboard
          </div>
        </a>
      </li>
      <li class="menu-item">
        <a class="link menu-link" href="#">
          <div class="menu-link__inner">
            <svg class="menu-icon">
              <use href="./img/sprite/sprite.svg#product"></use>
            </svg>
            Product
          </div>
          <span>
            <svg class="menu-icon__chevrone">
              <use href="./img/sprite/sprite.svg#chevron"></use>
            </svg>
          </span>
        </a>
      </li>
      <li class="menu-item">
        <a class="link menu-link menu-link__active" href="#">
          <div class="menu-link__inner">
            <svg class="menu-icon">
              <use href="./img/sprite/sprite.svg#customers"></use>
            </svg>
            Customers
          </div>
          <span>
            <svg class="menu-icon__chevrone">
              <use href="./img/sprite/sprite.svg#chevron"></use>
            </svg>
          </span>
        </a>
      </li>
      <li class="menu-item">
        <a class="link menu-link" href="#">
          <div class="menu-link__inner">
            <svg class="menu-icon__fix">
              <use href="./img/sprite/sprite.svg#income"></use>
            </svg>
            Income
          </div>
          <span>
            <svg class="menu-icon__chevrone">
              <use href="./img/sprite/sprite.svg#chevron"></use>
            </svg>
          </span>
        </a>
      </li>
      <li class="menu-item">
        <a class="link menu-link" href="#">
          <div class="menu-link__inner">
            <svg class="menu-icon">
              <use href="./img/sprite/sprite.svg#promote"></use>
            </svg>
            Promote
          </div>
          <span>
            <svg class="menu-icon__chevrone">
              <use href="./img/sprite/sprite.svg#chevron"></use>
            </svg>
          </span>
        </a>
      </li>
      <li class="menu-item">
        <a class="link menu-link" href="#">
          <div class="menu-link__inner">
            <svg class="menu-icon">
              <use href="./img/sprite/sprite.svg#help"></use>
            </svg>
            Help
          </div>
          <span>
            <svg class="menu-icon__chevrone">
              <use href="./img/sprite/sprite.svg#chevron"></use>
            </svg>
          </span>
        </a>
      </li>
    </ul>
  </div>
  <div class="user">
    <div class="user-avatar">
      <img src="./img/avatar/Ellipse 8.png" alt="user avatar" />
    </div>

    <div class="user-info">
      <span class="user-info__name">Evano</span>
      <span class="user-info__proff">Project Manager</span>
    </div>
  </div>
</nav>
